#result::-webkit-scrollbar{
    height: 12px;
}

#result::-webkit-scrollbar-track{
    border-radius: 10px;
    /* background: lightgray; */
    /* margin-inline: 5rem; */
}

#result::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: lightgray;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.5);
}

#result::-webkit-scrollbar-thumb:hover{
    background: darkgrey;
}

body{
    height: 100vh;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

header{
    background-color: royalblue;
    position: absolute;
    left: 0;
    top: 0;
    width: 100% !important;
}

h1{
    color: white;
    text-align: center;
}

.calc-container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 30%;
    height: 500px;
}

#result{
    box-sizing: border-box;
    grid-area: 1 / 1 / 2 / 5;
    font-size: large;
    display: flex;
    align-items: center;
    border: 1px solid royalblue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: 700;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    overflow-x: scroll;
}

.calc-icons{
    font-weight: 700;
    color: white;
    border: none;
    background-color: darkblue;
}

.calc-icons:active{
    background-color: lightblue;
}

#back-image{
    height: 50%;
}

#empty{
    border-bottom-left-radius: 10px ;
}

#equals{
    border-bottom-right-radius: 10px;
}

@media (max-width: 1536px) {
    .container{
        max-width: 1280px;
    }
}

@media (max-width: 1280px) {
    .container{
        max-width: 1024px;
    }
    .calc-container{
        min-width: 50%;
    }
}

@media (max-width: 1024px) {
    .container{
        max-width: 768px;
    }
    .calc-container{
        min-width: 70%;
    }
}

@media (max-width: 768px) {
    .container{
        max-width: 640px;
    }
    .calc-container{
        height: 350px;
    }
}

@media (max-width: 640px) {
    .container{
        max-width: 475px;
    }
}

@media (max-width: 475px) {
    .container{
        width: 90%;
    }
    .calc-container{
        width: 375px;
        height: 650px;
    }
    header{
        width: 100%;
    }
}

@media (max-width: 375px) {
    .container{
        width: 80%;
    }
    .calc-container{
        width: 375px;
        height: 500px;
    }
    header{
        width: 100%;
    }
}

@media (max-height: 650px){
    .calc-container{
        height: 350px;
    }
}